
.HomeBtn,.btn{
    color:white;
    margin:1rem;
    font-size: 20px;
    background: rgb(211,25,138);
background: linear-gradient(279deg, rgba(211,25,138,1) 6%, rgba(232,211,15,1) 64%);
}
.homeTitle h1{
    font-size:100px;
background: -webkit-linear-gradient(to left, #FF0000 30%, #00FF00 52%, #000000 83%);
background: -moz-linear-gradient(to left, #FF0000 30%, #00FF00 52%, #000000 83%);
background: linear-gradient(to left, #FF0000 30%, #00FF00 52%, #000000 83%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
    padding-bottom: 2rem;
    font-weight:900;
    
}
.homeTitle p{
    color: white;
    font-size:20px;
    width:50%;
    margin:0 auto;
    font-weight: 500;

}
@media screen and (max-width: 720px) {
    .homeTitle{
        width:100% !important;
        padding-top: 10rem !important;
        
    }
    .HomeBtn,.homeTitle p{
        display:none !important;
    }
    .homeTitle h1{
        font-size: 30px;
    }
    .carousel-caption{
        bottom: -1px!important;
    }
    .carousel-item{
        margin-top:58px !important;
    }
}